/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    top: 200px;

    width: 10%;
    height: 70px;
    border-radius: 50%;
    
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 8px 8px 8px 8px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

/* ============
    Flag
============ */

.container{
  display: flex;
  margin-left: 3vw;
  margin-right: 4vw;
}

/* ==============
Heart button
============== */
.btn-container{
  display: flex;
  margin-left: 4vw;
  margin-right: 3vw;
  margin-top: 20vh;
}

.heart-btn{
  display: inline-block;
  width: 15%;
}
.content{
  border: 2px solid black;
  padding: 0px 5px 0px 5px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
}
#btn{
  width: 20px; 
  height: 20px;
}
#btn1{
  width: 20px; 
  height: 20px;
}
#btn2{
  width: 20px; 
  height: 20px;
}
#btn3{
  width: 20px; 
  height: 20px;
}
#btn4{
  width: 20px; 
  height: 20px;
}
#btn5{
  width: 20px; 
  height: 20px;
}
#btn6{
  width: 20px; 
  height: 20px;
}
#btn7{
  width: 20px; 
  height: 20px;
}
#btn8{
  width: 20px; 
  height: 20px;
}
#btn9{
  width: 20px; 
  height: 20px;
}
#btn10{
  width: 20px; 
  height: 20px;
}
#btn11{
  width: 20px; 
  height: 20px;
}
#btn12{
  width: 20px; 
  height: 20px;
}
#btn13{
  width: 20px; 
  height: 20px;
}

#display{
  font-size: 25px;
}